<!DOCTYPE html>
<html>
	<head>
		<title>labels</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="functions.js" type="text/javascript"></script>
	</head>
	<body>
		<h1>labels</h1>
		<select name="paper_style" id="paper_style">
			<% paper_styles.each_with_index do |item, index| %>
				<option value="<%= index %>" <%= index == paper ? "selected" : "" %>>
					<%= item['paper_name'] %>
				</option>
			<% end %>
		</select>
		<br/><br/>
		<form action="/<%= paper %>" method="POST" target="_blank">
			<table>
			<% (0..(rows - 1)).each do |i| %>
				<tr>
				<% (0..(columns - 1)).each do |j| %>
					<td>
						<select name="orientation<%= (rows - 1) - i %>_<%= j %>">
							<option value="horizontal">horizontal</option>
							<option value="vertical">vertical</option>
							<option value="verticalBig">vertical big</option>
						</select>
					</td>
				<% end %>
				</tr>
				<tr>
				<% (0..(columns - 1)).each do |j| %>
					<td>
						<textarea name="field<%= (rows - 1) - i %>_<%= j %>" rows="3" cols="15"></textarea>
					</td>
				<% end %>
				</tr>
			<% end %>
			</table>
			<input type="submit" name="create" value="create" />
		</form>
	</body>
</html>
